In [23]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

In [2]:
url="https://webscraper.io/test-sites/e-commerce/allinone/phones/touch"
r=requests.get(url)
soup=BeautifulSoup(r.text,"lxml")

In [3]:
#scrap product price
price=soup.find("h4",class_="price float-end card-title pull-right")
print(price.text)

$24.99

In [6]:
all_price=soup.find_all("h4",class_="price float-end card-title pull-right")
print(all_price)

[<h4 class="price float-end card-title pull-right">$24.99</h4>, <h4 class="price float-end card-title pull-right">$57.99</h4>, <h4 class="price float-end card-title pull-right">$93.99</h4>, <h4 class="price float-end card-title pull-right">$109.99</h4>, <h4 class="price float-end card-title pull-right">$118.99</h4>, <h4 class="price float-end card-title pull-right">$499.99</h4>, <h4 class="price float-end card-title pull-right">$899.99</h4>, <h4 class="price float-end card-title pull-right">$899.99</h4>, <h4 class="price float-end card-title pull-right">$899.99</h4>]

In [7]:
for i in all_price:
    print(i.text)

$24.99
$57.99
$93.99
$109.99
$118.99
$499.99
$899.99
$899.99
$899.99

In [8]:
pricelist=[]
for i in all_price:
    pricelist.append(i.text)

print(pricelist)

['$24.99', '$57.99', '$93.99', '$109.99', '$118.99', '$499.99', '$899.99', '$899.99', '$899.99']

In [17]:
Name=[]
name=soup.find_all("a",class_="title")
for i in name:
    Name.append(i.text)
print(Name)

['Nokia 123', 'LG Optimus', 'Samsung Galaxy', 'Nokia X', 'Sony Xperia', 'Ubuntu Edge', 'Iphone', 'Iphone', 'Iphone']

In [22]:
Review=[]
review=soup.find_all("p",class_="review-count float-end")
for i in review:
    Review.append(i.text)
print(Review)

['11 reviews', '11 reviews', '3 reviews', '4 reviews', '6 reviews', '2 reviews', '10 reviews', '8 reviews', '1 reviews']

In [21]:
description=[]
desc=soup.find_all("p",class_="description card-text")
for i in desc:
    description.append(i.text)
print(description)

['7 day battery', '3.2" screen', '5 mpx. Android 5.0', 'Andoid, Jolla dualboot', 'GPS, waterproof', 'Sapphire glass', 'White', 'Silver', 'Black']

In [26]:
# TO CREATE DATAFRAME
df=pd.DataFrame({"Name":Name,"Price":pricelist,"Review":Review,"Discription":description})
df

             Name    Price      Review             Discription
0       Nokia 123   $24.99  11 reviews           7 day battery
1      LG Optimus   $57.99  11 reviews             3.2" screen
2  Samsung Galaxy   $93.99   3 reviews      5 mpx. Android 5.0
3         Nokia X  $109.99   4 reviews  Andoid, Jolla dualboot
4     Sony Xperia  $118.99   6 reviews         GPS, waterproof
5     Ubuntu Edge  $499.99   2 reviews          Sapphire glass
6          Iphone  $899.99  10 reviews                   White
7          Iphone  $899.99   8 reviews                  Silver
8          Iphone  $899.99   1 reviews                   Black

In [27]:
df.to_csv("product_details.csv")